<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">our company</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Employee Value Proposition</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Weico Technologies is a global recruitment firm with specialized practices in technology and digital hiring across key industries and sectors. We are committed to creating a winning culture for our people.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Developing Experts</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have crafted our training, development, thought leadership, and performance management approach to enable our team members to progress, take on greater responsibilities, and cultivate extensive expertise in technology and digital recruitment.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fostering Engagement</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We acknowledge our accomplishments, value long-term dedication, commemorate promotions and milestones, and organize frequent team-building and social responsibility activities. Our commitment to engagement underscores our dedication to fostering a motivated workforce.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ethical Culture</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are an IT outsourcing firm characterized by a unified culture centered on assembling top-tier teams and fostering shared ethics and values. We are steadfast and unwavering in our commitment to the principles of Partnership, Integrity, Transparency, and Respect.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>